Django>=3.1.14

# django-filters is used for easily creating filter pages to
django-filter==2.4.0

# django-bootstrap is a CSS library for displaying content in web browsers.
django-bootstrap-v5==1.0.11

# Icons to make things pretty
django_bootstrap_icons==0.8.2

# used to allow REST api calls
djangorestframework==3.14.0
markdown==3.4.1

# factory-boy and Faker are used for unit Testing
Faker==5.0.1
factory-boy==3.1.0

# daphne is a standalone python webserver used to run the Django application outside of a development env.
daphne==4.0.0

# requests is used to make python REST calls to the daphne server so we can automate scritps for creating reports
requests==2.28.1

# CTD is used to process BTL and ROS files
ctd==1.4.2

# used for reading and producing xlsx files
openpyxl==3.0.10

# Corrects network issues on windows
PySocks==1.7.1

# Whitenoise is used to track static content so that a user doesn't need to do 'python manage.py collectstatic'
# as a setup requirement
whitenoise==6.2.0

# rest-pandas allows exporting data from the Django REST framework as a pandas view
rest-pandas==1.1.0

# time zone package
pytz~=2022.6

# math and data processing packages
numpy~=1.23.4
pandas~=1.5.1