{% extends "base.html" %}

{% block extra_style %}
    {{ block.super }}
    <style>
        .vertical-scrollbar {
            position: relative;
            height: 400px;
            overflow: auto;
        }

        .horizontal-scrollbar {
            position: relative;
            overflow: auto;
        }

        .table-wrapper-scroll-y thead {
            position: sticky;
            top: 0px;
            background: white;
        }

        .table-wrapper-scroll-x th:first-child {
            position: sticky;
            left: 0px;
            background: white;
        }

        .selectedBg {
            background: #8fd19e !important;
        }

        span.spinner-border {
            width: 1rem;
            height: 1rem;
        }

        input.invisible {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
    {{ block.super }}
    <div class="col">
        <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownReportMenu" data-bs-toggle="dropdown" aria-expanded="false">
            Downloadable Reports
          </button>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'core-api:pd_salt-list' 'csv' %}?mission_id={{ object.id }}">Panda Salt Report</a></li>
            <li><a class="dropdown-item" href="{% url 'core-api:pd_oxygen-list' 'csv' %}?mission_id={{ object.id }}">Panda Oxygen Report</a></li>
            <li><a class="dropdown-item" href="{% url 'core-api:pd_chl-list' 'csv' %}?mission_id={{ object.id }}">Panda Chl Report</a></li>

            <li><a class="dropdown-item" href="{% url 'core:event_summary_report' object.id %}">Elog Summary</a></li>
            <li><a class="dropdown-item" href="{% url 'core:profile_summary_report' object.id %}">Profile Summary</a></li>
            <li><a class="dropdown-item" href="{% url 'core:biosum_report' object.id %}">BioSum Report</a></li>
            <li><a class="dropdown-item" href="{% url 'core:error_report' object.id %}">Error Report</a></li>
          </ul>
        </span>
        <a class="btn btn-warning" href="{% url 'core:error_details' object.id %}">View Errors</a>
    </div>
{% endblock %}
