{% extends "base.html" %}

{% block extra_style %}
    {{ block.super }}
    <style>
        .vertical-scrollbar {
            position: relative;
            height: 400px;
            overflow: auto;
        }

        .horizontal-scrollbar {
            position: relative;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

        .table-wrapper-scroll-y thead {
            position: sticky;
            top: 0px;
            background: white;
        }

        .table-wrapper-scroll-x {
            display: block;
        }

        .table-wrapper-scroll-x th:first-child {
            position: sticky;
            left: 0px;
            background: white;
            border-bottom-color: black;
            border-bottom-width: 0.25em;
        }

        .selectedBg {
            background: #8fd19e !important;
        }

    </style>
{% endblock %}

{% block title %}
    {{ block.super }}
    <span class="col-3">
        <span class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Downloadable Reports
          </a>

          <ul class="dropdown-menu">
            <li v-for="report in reports"><a class="dropdown-item" href="{% url 'core:event_summary_report' object.id %}">Elog Summary</a></li>
            <li v-for="report in reports"><a class="dropdown-item" href="{% url 'core:profile_summary_report' object.id %}">Profile Summary</a></li>
            <li v-for="report in reports"><a class="dropdown-item" href="{% url 'core:salt_report' object.id %}">Salt Report</a></li>
            <li v-for="report in reports"><a class="dropdown-item" href="{% url 'core:oxygen_report' object.id %}">Oxygen Report</a></li>
            <li v-for="report in reports"><a class="dropdown-item" href="{% url 'core:biosum_report' object.id %}">BioSum Report</a></li>
            <li v-for="report in reports"><a class="dropdown-item" href="{% url 'core:error_report' object.id %}">Error Report</a></li>
          </ul>
        </span>
    </span>
{% endblock %}
