{% extends "base.html" %}

{% block extra_style %}
    {{ block.super }}
    <style>
        .vertical-scrollbar {
            position: relative;
            height: 400px;
            overflow: auto;
        }

        .horizontal-scrollbar {
            position: relative;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

        .table-wrapper-scroll-y thead {
            position: sticky;
            top: 0px;
            background: white;
        }

        .table-wrapper-scroll-x {
            display: block;
        }

        .table-wrapper-scroll-x th:first-child {
            position: sticky;
            left: 0px;
            background: white;
            border-bottom-color: black;
            border-bottom-width: 0.25em;
        }

        .selectedBg {
            background: #8fd19e !important;
        }

    </style>
{% endblock %}

{% block title %}
    {{ block.super }}
    <span class="col-3">
        <a class="btn btn-primary" href="{% url 'core:ctd_details' object.id %}">CTD</a>
        <a class="btn btn-primary" href="{% url 'core:sample_details' object.id %}">Samples</a>
        <a class="btn btn-warning" href="{% url 'core:event_summary_report' object.id %}">Elog Summary</a>
    </span>
{% endblock %}

{% block content %}
    <div id="app" class="row mt-2">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Events</div>
                    </div>
                    <div class="card-body">
                        <div class="table-wrapper-scroll-y vertical-scrollbar">
                            <table class="table table-striped table-hover table-sm sortable">
                                <thead>
                                <tr><th>Event ID</th><th>Station</th><th>Instrument</th></tr>
                                </thead>
                                <tbody>
                                    <tr v-for="event in events" :key="event.event_id"
                                    :class="selected_event && selected_event.event_id==event.event_id?'selectedBg':''"
                                    @click="get_details(event)">
                                        <td>${ event.event_id }</td><td>${ event.station.name }</td><td>${ event.instrument?event.instrument.name:"" }</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Event Details</div>
                    </div>
                    <div class="card-body">
                        <div class="table-wrapper-scroll-y vertical-scrollbar">
                            <table class="table table-striped table-sm" v-if="selected_event && selected_event.sample_id">
                                <thead>
                                <tr><th>Start Bottle</th><th>End Bottle</th><th>Total Bottles</th></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>${ selected_event.sample_id }</td>
                                    <td>${ selected_event.end_sample_id }</td>
                                    <td v-if="selected_event.end_sample_id">${ selected_event.end_sample_id - selected_event.sample_id }</td>
                                    <td v-else-if="selected_event.sample_id">1</td>
                                    <td v-else></td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped table-sm" v-if="selected_event && selected_event.sample_id">
                                <thead>
                                <tr><th>Action</th><th>Time</th><th>Duration</th><th>Latitude</th><th>Longitude</th><th>Distance</th></tr>
                                </thead>
                                <tbody>
                                <tr v-for="(action, index) in actions" :key="action.id">
                                    <td>${ action.action_type.name }</td>
                                    <td>${ action.date_time }</td>
                                    <td>${ compute_drift_time(index) }</td>
                                    <td>${ action.latitude.toFixed(4) }</td>
                                    <td>${ action.longitude.toFixed(4) }</td>
                                    <td>${ compute_drift_distance(index) }</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr><th>Total</th>
                                        <td></td>
                                        <th>${ compute_total_drift_time() }</th>
                                        <td></td>
                                        <td></td>
                                        <th>${ compute_total_drift_distance() }</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr class="bg-light"><th colspan="2"><span class="h4">Comments</span></th></tr>
                                <tr>
                                    <th class="col-1">Action</th>
                                    <th class="col">Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="action in actions" :key="action.id" v-if="action.comment">
                                    <th>${ action.action_type.name }</th>
                                    <td>${ action.comment }</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                <div class="row">
                                    <span class="col-2">
                                        <label for="file_dir">Elog Directory</label>
                                    </span>
                                    <span class="col">
                                    <span v-if="loading_files" class="loading">
                                        <span class="spinner-border" style="width: 1rem; height: 1rem;" role="status">
                                            <span class="sr-only"></span>
                                        </span>
                                    </span>
                                    </span>
                                </div>
                                <div id="file_dir" class="h3">${ file_dir }</div>
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="load_all">
                            <button class="btn btn-primary col-2 m-1" v-on:click="load_file()">All</button>
                        </div>
                        <span v-for="(f, index) in files" :key="f.fid">
                            <button v-on:click="load_file(index)" class="btn col-2 m-1"
                                    :class="[f.loading==false ? (f.bg ? f.bg : (f.processed==true ? 'btn-primary' : 'btn-secondary')) : 'btn-warning']">
                                <span v-if="f.loading==true" class="loading">
                                    <span class="spinner-border" style="width: 1rem; height: 1rem;" role="status">
                                        <span class="sr-only"></span>
                                    </span>
                                </span>
                                <span>
                                ${ f.file_name }
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    <script>
    var app = new Vue({
        el: '#app',
        delimiters: ["${", "}"],
        data: {
            selected_event: null,
            actions: null,
            events: [],

            loading_files: false,
            file_dir: "",
            files: [],

            to_process: [],
            processing: []

        },
        mounted: function() {
            this.get_files();
            this.load_events();
        },
        methods: {
            get_files() {
                let endpoint = "{% url 'core:load_files' %}?file_type=log&mission_id={{ object.id }}";

                this.loading_files = true;
                apiService(endpoint, "GET").then(response => {
                    this.loading_files = false;
                    if(response !== undefined) {
                        app.file_dir = response['dir'];
                        if(response['files']) {
                            app.files = response['files'];
                            for(let i=0; i<app.files.length; i++){
                                app.files[i].loading = false;
                            }
                        }
                    }
                });
            },
            load_file(index) {
                if(index == null) {
                    for(let i=0; i<app.files.length; i++) {
                        this.load_file(i);
                    }
                    return;
                }

                if(this.processing.length >= 2){
                    this.to_process.push(index);
                    app.files[index].bg = 'btn-light';
                    this.$forceUpdate();
                    return;
                }

                this.processing.push(index);

                let endpoint = "{% url 'core:process_elog' %}?mission_id={{ object.id }}";
                app.files[index].loading = true;

                endpoint = endpoint + "&fid=" + app.files[index].fid;

                this.$forceUpdate();
                apiService(endpoint, "POST").then(response => {
                    app.files[index].loading = false;
                    this.$forceUpdate();
                    if(response!==undefined) {
                        if(response['errors'] && response['errors'].length > 0) {
                            app.files[index].bg = "btn-warning";
                            msg = "Errors\n\n"
                            for(let i=0; i<response['errors'].length; i++) {
                                err = response['errors'][i];
                                msg += err.msg + ": " + err.trace + "\n\n";
                            }
                            window.alert(msg);
                        } else {
                            app.files[index].bg = "btn-success";
                        }
                        this.load_events();
                    } else {
                        app.files[index].bg = "btn-danger";
                    }

                    this.processing.shift();

                    if(this.to_process.length > 0) {
                        let next = this.to_process.shift();
                        this.load_file(next);
                    }
                });
            },
            pad(str, max) {
                str = str.toString();
                return str.length < max ? this.pad("0" + str, max) : str;
            },
            compute_total_drift_distance() {
                if( app.actions == null || app.actions.length <= 0 ) { return "";}

                let p_evt = app.actions[0];
                let c_evt = app.actions[app.actions.length-1];

                let pos1 = [p_evt.latitude, p_evt.longitude]
                let pos2 = [c_evt.latitude, c_evt.longitude]
                return this.compute_drift_distance_for(pos1, pos2)
            },
            compute_drift_distance(current_idx) {
                if(current_idx === 0) { return "0"; }

                let p_evt = app.actions[current_idx-1];
                let c_evt = app.actions[current_idx];

                let pos1 = [p_evt.latitude, p_evt.longitude]
                let pos2 = [c_evt.latitude, c_evt.longitude]
                return this.compute_drift_distance_for(pos1, pos2)
            },
            compute_drift_distance_for(pos1, pos2) {
                const lat1 = pos1[0] * Math.PI/180;
                const lat2 = pos2[0] * Math.PI/180;
                const lon = (pos2[1]-pos1[1]) * Math.PI/180;
                const R = 6371e3;
                const d = Math.acos( Math.sin(lat1)*Math.sin(lat2) + Math.cos(lat1)*Math.cos(lat2) * Math.cos(lon) ) * R;
                return Math.round(d);
            },
            compute_total_drift_time() {
                if( app.actions == null || app.actions.length <= 0 ) { return "";}
                let p_evt = app.actions[0];
                let c_evt = app.actions[app.actions.length-1];

                return this.compute_drift_time_for(p_evt, c_evt)
            },
            compute_drift_time(current_idx) {
                if(current_idx === 0) { return "00:00:00"; }

                let p_evt = app.actions[current_idx-1];
                let c_evt = app.actions[current_idx];

                return this.compute_drift_time_for(p_evt, c_evt);
            },
            compute_drift_time_for(p_evt, c_evt) {

                let pt = p_evt.time.split(":")
                let ct = c_evt.time.split(":")

                let h = ct[0]-pt[0]
                let m = ct[1]-pt[1]
                let s = ct[2]-pt[2]

                if(s<0) { s+=60; m--;}
                if(m<0) { m+=60; h--;}

                return this.pad(h, 2) + ":" + this.pad(m, 2) + ":" + this.pad(s, 2);
            },
            load_events() {
                let endpoint = "{% url 'core-api:event-list' %}?mission_id=" + {{ mission.id }};

                apiService(endpoint, "GET").then(response => {
                    if(response!==undefined) {
                        app.events = response;
                    }
                });
            },
            get_details(event){
                app.selected_event = event;
                app.actions = null;
                let endpoint = "{% url 'core-api:action-list' %}?event_id=" + app.selected_event.id;

                apiService(endpoint, "GET").then(response => {
                    if(response!==undefined) {
                        app.actions = response;
                    }
                });
            }
        }
    });

    </script>
{% endblock %}