{% extends "core/core_details_template.html" %}

{% block title %}
    {{ block.super }}
    <div class="col-3">
        <a class="btn btn-primary" href="{% url 'core:sample_details' object.id %}">Samples</a>
   </div>
{% endblock %}

{% block content %}
    <div id="app" class="row mt-2">
        <div class="row mb-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <span class="col">
                                <span class="form-group">
                                    <label for="filter.event_id">Event ID</label>
                                    <input v-model="filter.event_id" @change="apply_filter" id="filter.event_id" />
                                </span>
                                <span class="form-group">
                                    <label for="filter.station">Station</label>
                                    <select v-model="filter.station" @change="apply_filter" id="filter.station">
                                        <option value="" selected></option>
                                        <option v-for="station in opt_stations" :value="station.name">
                                            ${station.name}
                                        </option>
                                    </select>
                                </span>
                                <span class="form-group">
                                    <label for="filter.instrument">Instrument</label>
                                    <select v-model="filter.instrument" @change="apply_filter" id="filter.instrument">
                                        <option value="" selected></option>
                                        <option v-for="instrument in opt_instruments" :value="instrument.name">
                                            ${instrument.name}
                                        </option>
                                    </select>
                                </span>
                                <span class="form-group">
                                    <label for="filter.action_type">Actions</label>
                                    <select v-model="filter.action_type" @change="apply_filter" id="filter.action_type">
                                        <option value="" selected></option>
                                        <option v-for="action_type in opt_actions" :value="action_type.id">
                                            ${ action_type.name }
                                        </option>
                                    </select>
                                </span>
                            </span>
                            <span class="col-1">
                                <button class="col mr-1 btn btn-warning" @click="clear_filters">Clear</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Events
                            <span v-if="loading_events" class="loading">
                                <span class="spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-wrapper-scroll-y vertical-scrollbar">
                            <table class="table table-striped table-hover table-sm sortable">
                                <thead>
                                <tr><th>Event ID</th><th>Station</th><th>Instrument</th></tr>
                                </thead>
                                <tbody>
                                    <tr v-for="event in filtered_events" :key="event.event_id"
                                    :class="selected_event && selected_event.event_id==event.event_id?'selectedBg':''"
                                    @click="get_details(event)">
                                        <td>${ event.event_id }</td><td>${ event.station.name }</td><td>${ event.instrument?event.instrument.name:"" }</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Event Details</div>
                    </div>
                    <div class="card-body">
                        <div class="vertical-scrollbar">
                            <table class="table table-striped table-sm" v-if="selected_event && selected_event.sample_id">
                                <thead>
                                <tr><th>Start Bottle</th><th>End Bottle</th><th>Total Bottles</th></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>${ selected_event.sample_id }</td>
                                    <td>${ selected_event.end_sample_id }</td>
                                    <td v-if="selected_event.end_sample_id">${ selected_event.end_sample_id - selected_event.sample_id }</td>
                                    <td v-else-if="selected_event.sample_id">1</td>
                                    <td v-else></td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped table-sm" v-if="selected_event && selected_event.sample_id">
                                <thead>
                                <tr><th>Action</th><th>Time</th><th>Duration</th><th>Latitude</th><th>Longitude</th><th>Distance(m)</th></tr>
                                </thead>
                                <tbody>
                                <tr v-for="(action, index) in actions" :key="action.id">
                                    <td>${ action.action_type.name }</td>
                                    <td>${ action.date_time }</td>
                                    <td>${ compute_drift_time(index) }</td>
                                    <td>${ action.latitude.toFixed(4) }</td>
                                    <td>${ action.longitude.toFixed(4) }</td>
                                    <td>${ compute_drift_distance(index) }</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr><th>Total</th>
                                        <td></td>
                                        <th>${ compute_total_drift_time() }</th>
                                        <td></td>
                                        <td></td>
                                        <th>${ compute_total_drift_distance() }</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table v-if="selected_event" class="table table-striped table-sm">
                                <thead>
                                <tr class="bg-light"><th colspan="2"><span class="h4">Attachments</span></th></tr>
                                </thead>
                                <tbody>
                                <tr v-for="atta in selected_event.attachments" :key="atta.id">
                                    <td>${ atta.name }</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr class="bg-light"><th colspan="2"><span class="h4">Comments</span></th></tr>
                                <tr>
                                    <th class="col-1">Action</th>
                                    <th class="col">Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="action in actions" :key="action.id" v-if="action.comment">
                                    <th>${ action.action_type.name }</th>
                                    <td>${ action.comment }</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                <div class="row">
                                    <span class="col-2">
                                        <label for="file_dir">Elog Directory</label>
                                    </span>
                                    <span class="col">
                                         <input class="col" id="file_dir" type="text" v-model="elog_dir" @change="update_directory" />
                                    </span>
                                </div>
                                <div id="file_dir" class="h3">${ file_dir }</div>
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="load_all" class="row">
                            <span class="col-2">
                            <button class="btn btn-primary col-12 m-1" @click="load_file()">All</button>
                            </span>
                            <span class="col-2">
                            <button class="btn btn-secondary col-12 m-1" @click="load_file(-1)">Unprocessed</button>
                            </span>
                            <span class="col-2">
                            <button class="btn btn-warning col-12 m-1" @click="load_file(-2)">Re-process Errors</button>
                            </span>
                        </div>
                        <span v-for="(f, index) in files" :key="f.fid">
                            <button @click="load_file(index)" class="btn col-2 m-1"
                                    :class="[f.loading==false ? (f.bg ? f.bg : (f.processed==true ? 'btn-primary' : 'btn-secondary')) : 'btn-warning']">
                                <span v-if="f.loading==true" class="loading">
                                    <span class="spinner-border" role="status">
                                        <span class="sr-only"></span>
                                    </span>
                                </span>
                                <span>
                                ${ f.file_name }
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    <script>
    var app = new Vue({
        el: '#app',
        delimiters: ["${", "}"],
        data: {
            elog_dir: "{{ elog_dir|escapejs }}",
            selected_event: null,
            actions: null,
            events: [],
            filtered_events: [],

            loading_files: false,
            loading_events: false,
            file_dir: "",
            files: [],

            to_process: [],
            processing: [],

            filter: [],

            opt_stations: [],
            opt_actions: [],
            opt_instruments: []

        },
        created: function () {
            this.load_filter_options();
        },
        mounted: function() {
            this.get_files();
            this.load_events();
            this.clear_filters();
        },
        methods: {
            update_directory() {
                let endpoint = "{% url 'core:set_dir' object.id %}?dir=" + this.elog_dir + "&type=log";
                apiService(endpoint, "POST").then(response => {
                    if(response !== undefined) {
                        this.get_files();
                    }
                });
            },
            get_files() {
                let endpoint = "{% url 'core:load_files' %}?file_type=log&mission_id={{ object.id }}";

                this.loading_files = true;
                apiService(endpoint, "GET").then(response => {
                    this.loading_files = false;
                    if(response !== undefined) {
                        app.file_dir = response['dir'];
                        if(response['files']) {
                            app.files = response['files'];
                            for(let i=0; i<app.files.length; i++){
                                app.files[i].loading = false;
                                app.files[i].bg = "btn-success";
                                if(!app.files[i].processed) {
                                    app.files[i].bg = "btn-secondary";
                                }

                                if(app.files[i].errors) {
                                    app.files[i].bg = "btn-warning";
                                }
                            }
                        }
                    }
                });
            },
            load_file(index) {
                if(index == null) {
                    this.files.forEach( f => {this.load_file(this.files.indexOf(f))})
                    return;
                } else if(index === -1) {
                    let filted_files = this.files.filter(f => {
                        return !f.processed;
                    });
                    filted_files.forEach( f => {this.load_file(this.files.indexOf(f))})
                    return;
                } else if(index === -2) {
                    let filted_files = this.files.filter(f => {
                        return f.errors;
                    });
                    filted_files.forEach( f => {this.load_file(this.files.indexOf(f))})
                    return;
                }

                // For now I'm using the client to queue up files to load and limiting how many can be sent to the server
                // Once I've worked out server side threading I'll do this on the server.
                // processing more than 1 file at a time for elog doesn't add any benifit
                if(this.processing.length >= 1){
                    this.to_process.push(index);
                    this.files[index].bg = 'btn-light';
                    this.$forceUpdate();
                    return;
                }

                this.processing.push(index);

                let endpoint = "{% url 'core:process_elog' %}?mission_id={{ object.id }}";
                this.files[index].loading = true;

                endpoint = endpoint + "&fid=" + this.files[index].fid;

                this.$forceUpdate();
                apiService(endpoint, "POST").then(response => {
                    this.files[index].loading = false;
                    this.$forceUpdate();
                    let msg = ""
                    if(response!==undefined) {
                        if(response['errors'] && response['errors'].length > 0) {
                            this.files[index].bg = "btn-warning";
                            msg = "Errors\n\n"
                            for(let i=0; i<response['errors'].length; i++) {
                                err = response['errors'][i];
                                msg += err.msg + ": " + err.trace + "\n\n";
                            }
                            this.files[index].processed = true;
                            this.files[index].errors = true;
                        } else {
                            this.files[index].bg = "btn-success";
                            this.files[index].processed = true;
                            this.files[index].errors = false;
                        }
                        this.load_events();
                    } else {
                        this.files[index].bg = "btn-danger";
                    }

                    this.processing.shift();

                    if(this.to_process.length > 0) {
                        let next = this.to_process.shift();
                        this.load_file(next);
                    }

                    if(msg !== "") {
                       console.log(msg);
                    }
                });
            },
            pad(str, max) {
                str = str.toString();
                return str.length < max ? this.pad("0" + str, max) : str;
            },
            compute_total_drift_distance() {
                if( app.actions == null || app.actions.length <= 0 ) { return "";}

                let p_evt = app.actions[0];
                let c_evt = app.actions[app.actions.length-1];

                let pos1 = [p_evt.latitude, p_evt.longitude]
                let pos2 = [c_evt.latitude, c_evt.longitude]
                return this.compute_drift_distance_for(pos1, pos2)
            },
            compute_drift_distance(current_idx) {
                if(current_idx === 0) { return "0"; }

                let p_evt = app.actions[current_idx-1];
                let c_evt = app.actions[current_idx];

                let pos1 = [p_evt.latitude, p_evt.longitude]
                let pos2 = [c_evt.latitude, c_evt.longitude]
                return this.compute_drift_distance_for(pos1, pos2)
            },
            compute_drift_distance_for(pos1, pos2) {
                const lat1 = pos1[0] * Math.PI/180;
                const lat2 = pos2[0] * Math.PI/180;
                const lon = (pos2[1]-pos1[1]) * Math.PI/180;
                const R = 6371e3;
                const d = Math.acos( Math.sin(lat1)*Math.sin(lat2) + Math.cos(lat1)*Math.cos(lat2) * Math.cos(lon) ) * R;
                return Math.round(d);
            },
            compute_total_drift_time() {
                if( app.actions == null || app.actions.length <= 0 ) { return "";}
                let p_evt = app.actions[0];
                let c_evt = app.actions[app.actions.length-1];

                return this.compute_drift_time_for(p_evt, c_evt)
            },
            compute_drift_time(current_idx) {
                if(current_idx === 0) { return "00:00:00"; }

                let p_evt = app.actions[current_idx-1];
                let c_evt = app.actions[current_idx];

                return this.compute_drift_time_for(p_evt, c_evt);
            },
            compute_drift_time_for(p_evt, c_evt) {

                let pt = p_evt.time.split(":")
                let ct = c_evt.time.split(":")

                let h = ct[0]-pt[0]
                let m = ct[1]-pt[1]
                let s = ct[2]-pt[2]

                if(s<0) { s+=60; m--;}
                if(m<0) { m+=60; h--;}

                return this.pad(h, 2) + ":" + this.pad(m, 2) + ":" + this.pad(s, 2);
            },
            load_events() {
                let endpoint = "{% url 'core-api:event-list' %}?mission_id=" + {{ mission.id }};
                this.loading_events = true;
                apiService(endpoint, "GET").then(response => {
                    if(response!==undefined) {
                        this.filtered_events = this.events = response;
                        this.loading_events = false;
                    }
                });
            },
            get_details(event){
                app.selected_event = event;
                app.actions = null;
                let endpoint = "{% url 'core-api:action-list' %}?event_id=" + app.selected_event.id;

                apiService(endpoint, "GET").then(response => {
                    if(response!==undefined) {
                        this.actions = response;
                    }
                });
            },
            load_filter_options() {
                let endpoint = "{% url 'core-api:station-name-list' %}?mission_id={{ object.id }}";
                apiService(endpoint, "GET").then(response => {
                  if(response!==undefined){
                      this.opt_stations = response
                  }
                });

                {% for a in action_types %}this.opt_actions.push( {id: {{ a.id }}, name: "{{ a.name }}" });
                {% endfor %}

                {% for i in instrument_types %}this.opt_instruments.push( {id: {{ i.id }}, name: "{{ i.name }}" });
                {% endfor %}
            },
            clear_filters() {
                this.filter.station = "";
                this.filter.instrument = "";
                this.filter.action_type = "";
                this.filter.event_id = "";
                this.apply_filter();
            },
            apply_filter() {
                this.filtered_events = this.events
                if( this.filter.event_id ) {
                    this.filtered_events = this.filtered_events.filter(v => v.event_id == this.filter.event_id);
                }
                if( this.filter.station ) {
                    this.filtered_events = this.filtered_events.filter(v => v.station.name == this.filter.station);
                }
                if( this.filter.instrument ) {
                    this.filtered_events = this.filtered_events.filter(v => v.instrument.name == this.filter.instrument);
                }
                if( this.filter.action_type ) {
                    this.filtered_events = this.filtered_events.filter(v => {
                        for(let act of v.actions) {
                            if(act.action_type===this.filter.action_type) {
                                return true;
                            }
                        }
                        return false;
                    });
                }
            }
        }
    });

    </script>
{% endblock %}