{% extends 'generic_create.html' %}
{% load bootstrap5 %}

{% block content %}
    <form method="POST" >
        {% csrf_token %}
        {% for field in form %}
            {% bootstrap_field field placeholder="" %}
        {% endfor %}
        <input type="submit">
    </form>
{% endblock %}

{% block body_js %}
    <script>
    var app = new Vue({
        el: '#app',
        delimiters: ["${", "}"],
        data: {

        },
        methods: {

        }
    });
    </script>
{% endblock %}