{% extends 'generic_filter.html' %}
{% load bootstrap5 %}

{% block extra_cols_header %}
    <th class="col"></th>
    <th class="col-1"></th>
    <th class="col-1"></th>
    <th class="col-1">{# blank column separating delete btn from other btns #}</th>
    <th class="col-1"></th>{% endblock %}

{% block extra_cols_table %}
    <td></td>
<td><a class="btn btn-primary" href="{% url 'core:event_details' o.id %}">Event</a></td>
<td><a class="btn btn-primary" href="{% url 'core:ctd_details' o.id %}">CTD</a></td>
    <td><span></span></td>
<td><a class="btn btn-danger" onclick="delete_mission({{o.id}})">X</a></td>
{% endblock %}

{% block body_js %}
<script type="application/javascript">
    function delete_mission(id) {
      userInput = confirm("are you sure you want to delete this mission?");
      if (userInput) window.location.href = "{% url 'core:mission_delete' %}?mission=" + id;
    }
</script>
{% endblock %}