{% extends "core/core_details_template.html" %}
{% load static %}

{% block title %}
    {{ block.super }}
    <span class="col-3">
        <a class="btn btn-primary" href="{% url 'core:event_details' object.id %}">Events</a>
    </span>
{% endblock %}

{% block content %}

    <div id="app" class="row mt-2">
        <div class="row mb-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <span class="col">
                                <span class="form-group">
                                    <label for="filter.sample_id">Sample ID</label>
                                    <input v-model="filter.sample_id" @change="apply_filter()" id="filter.sample_id" />
                                </span>
                                <span class="form-group">
                                    <label for="filter.station">Station</label>
                                    <select v-model="filter.station" @change="apply_filter()" id="filter.station">
                                        <option value="" selected></option>
                                        <option v-for="station in opt_stations" :value="station.name">
                                            ${station.name}
                                        </option>
                                    </select>
                                </span>
                            </span>
                            <span class="col-1">
                                <button class="col mr-1 btn btn-warning" @click="clear_filters">Clear</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="button_tabs" class="mb-2">
            <ul class="nav nav-tabs" id="samples" role="tablist">
                {# CTD Tab #}
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="ctd-tab" data-bs-toggle="tab" data-bs-target="#ctd-tab-pane"
                            type="button" role="tab" aria-controls="ctd-tab-pane" aria-selected="true">
                        CTD
                        <span v-if="loading.ctd" class="loading">
                            <span class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </span>
                        </span>
                    </button>
                </li>

                {# Oxygen Tab #}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="oxy-tab" data-bs-toggle="tab" data-bs-target="#oxy-tab-pane"
                            type="button" role="tab" aria-controls="oxy-tab-pane" aria-selected="false">
                        <span class="btn btn-primary">
                            <label for="oxy-file" classs="btn btn-primary load-button p-n2">+</label>
                        </span>
                        Oxygen
                        <span v-if="loading.oxy" class="loading">
                            <span class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </span>
                        </span>
                    </button>
                </li>

                {# Salt Tab #}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="salt-tab" data-bs-toggle="tab" data-bs-target="#salt-tab-pane" type="button"
                            role="tab" aria-controls="salt-tab-pane" aria-selected="false">
                        <span class="btn btn-primary">
                            <label for="salt-file" classs="btn btn-primary load-button">+</label>
                        </span>
                        Salts
                        <span v-if="loading.salt" class="loading">
                            <span class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </span>
                        </span>
                    </button>
                </li>

                {# CHL Tab #}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="chl-tab" data-bs-toggle="tab" data-bs-target="#chl-tab-pane" type="button"
                            role="tab" aria-controls="chl-tab-pane" aria-selected="false">
                        <span class="btn btn-primary">
                            <label for="chl-file" classs="btn btn-primary load-button">+</label>
                        </span>
                        CHL
                        <span v-if="loading.chl" class="loading">
                            <span class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
        <input id="chl-file" type="file" @change="load_file($event, 'chl')" accept=".xlsx,.csv" multiple="True"
               class="mb-2 invisible"/>

        <input id="oxy-file" type="file" @change="load_file($event, 'oxy')" accept=".xlsx;.csv" multiple="True"
               class="mb-2 invisible"/>

        <input id="salt-file" type="file" @change="load_file($event, 'salt')" accept=".xlsx" multiple="True"
               class="mb-2 invisible"/>


        <div class="row">
            <div class="tab-content col" id="sample-content">
                {# CTD Tab starts #}
                <div class="tab-pane fade show active" id="ctd-tab-pane" role="tabpanel" aria-labelledby="ctd-tab" tabindex="0">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-danger" @click="delete_samples('ctd')">Delete</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-wrapper-scroll-x horizontal-scrollbar table-wrapper-scroll-y vertical-scrollbar ">
                                <table v-if="samples.ctd" class="table table-striped table-hover table-sm sortable">
                                    <thead>
                                    <tr>
                                        <th>Sample</th>
                                        <template v-for="h in samples.ctd.headers"><th>${ h.header }</th></template>
                                    </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr v-for="(bottle, index) in filtered.ctd">
                                            <th>${ bottle.Sample }</th>
                                            <template v-for="h in samples.ctd.headers"><td>${ h.data[index] }</td></template>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <span>
                                            <div class="row">
                                                <span class="col-2">
                                                    <label for="file_dir">CTD Directory</label>
                                                </span>
                                                <span class="col">
                                                     <input class="col" id="file_dir" type="text" v-model="ctd_dir" @change="update_ctd_directory" />
                                                </span>
                                            </div>
                                            <div id="file_dir" class="h3">${ file_dir }</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="load_all" class="row">
                                        <span class="col-2">
                                        <button class="btn btn-primary col-12 m-1" @click="load_ctd_file()">All</button>
                                        </span>
                                        <span class="col-2">
                                        <button class="btn btn-secondary col-12 m-1" @click="load_ctd_file(-1)">Unprocessed</button>
                                        </span>
                                        <span class="col-2">
                                        <button class="btn btn-warning col-12 m-1" @click="load_ctd_file(-2)">Re-process</button>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <span class="col-2" v-for="(f, index) in files" :key="f.fid">
                                            <button @click="load_ctd_file(index)" class="btn col-12 m-1"
                                                    :class="[f.loading==false ? (f.bg ? f.bg : (f.processed==true ? 'btn-primary' : 'btn-secondary')) : 'btn-warning']">
                                                <span v-if="f.loading==true" class="loading">
                                                    <span class="spinner-border" role="status">
                                                        <span class="sr-only"></span>
                                                    </span>
                                                </span>
                                                <span>
                                                ${ f.file_name }
                                                </span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# CTD Tab ends #}
                {# Oxygen Tab starts #}
                <div class="tab-pane fade" id="oxy-tab-pane" role="tabpanel" aria-labelledby="oxy-tab" tabindex="1">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-danger" @click="delete_samples('oxy')">Delete</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-wrapper-scroll-y vertical-scrollbar">
                                <table class="table table-striped table-hover table-sm sortable">
                                    <thead>
                                    <tr>
                                        <th>Bottle ID</th>
                                        <th>Pressure</th>
                                        <th>Winkler 1</th>
                                        <th>Winkler 2</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="sample in filtered.oxy">
                                        <td>${ sample.Sample }</td>
                                        <td>${ sample.Pressure }</td>
                                        <td>${ sample.oxy_w_rep1 }</td>
                                        <td>${ sample.oxy_w_rep2 }</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# Oxygen Tab ends #}
                {# Salt Tab starts #}
                <div class="tab-pane fade" id="salt-tab-pane" role="tabpanel" aria-labelledby="salt-tab" tabindex="2">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-danger" @click="delete_samples('salt')">Delete</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-wrapper-scroll-y vertical-scrollbar">
                                <table class="table table-striped table-hover table-sm sortable">
                                    <thead>
                                    <tr>
                                        <th>Bottle ID</th>
                                        <th>Pressure</th>
                                        <th>Sample Date</th>
                                        <th>Calculated Salinity</th>
                                        <th>Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="sample in filtered.salt">
                                        <td>${ sample.Sample }</td>
                                        <td>${ sample.Pressure }</td>
                                        <td>${ sample.Sample_Date }</td>
                                        <td>${ sample.Calculated }</td>
                                        <td>${ sample.Comments }</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# Salt Tab ends #}
                {# CHL Tab starts #}
                <div class="tab-pane fade" id="chl-tab-pane" role="tabpanel" aria-labelledby="chl-tab" tabindex="3">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-danger" @click="delete_samples('chl')">Delete</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-wrapper-scroll-y vertical-scrollbar">
                                <table class="table table-striped table-hover table-sm sortable">
                                    <thead>
                                    <tr>
                                        <th>Bottle ID</th>
                                        <th>Pressure</th>
                                        <th>mean chl</th>
                                        <th>mean phae</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="sample in filtered.chl">
                                        <td>${ sample.Sample }</td>
                                        <td>${ sample.Pressure }</td>
                                        <td>${ sample.mean_chl }</td>
                                        <td>${ sample.mean_phae }</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# CHL Tab ends #}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ["${", "}"],
            data: {
                ctd_dir: "{{ ctd_dir|escapejs }}",
                file_dir: "",
                files: [],
                processing: [],
                to_process: [],

                keys: ['ctd', 'oxy', 'salt', 'chl'],
                filesToUpload: null,
                variable_headers: null,
                interval_id: null,

                filter: [],
                opt_stations: [],

                // These are root endpoints other parameters can be added to them
                endpoints: {
                    'ctd': {
                        'get': "{% url 'core-api:ctd-report-list' %}",
                        'delete': "{% url 'core-api:bottle-list' %}"
                    },
                    'oxy': {
                        'get': "{% url 'core-api:oxygen-list' %}",
                        'delete': "{% url 'core-api:oxygen-list' %}",
                    },
                    'salt': {
                        'get': "{% url 'core-api:salt-list' %}",
                        'delete': "{% url 'core-api:salt-list' %}",
                    },
                    'chl': {
                        'get': "{% url 'core-api:chl-list' %}",
                        'delete': "{% url 'core-api:chl-list' %}",
                    }
                },
                loading: {},
                samples: {},
                filtered: {},
            },
            created: function () {
                this.load_filter_options();
            },
            mounted: function () {
                this.get_ctd_files();

                this.keys.forEach(k => {
                    this.loading[k] = true;
                    this.get_sample(k);
                })
            },
            methods: {
                load_filter_options() {
                    let endpoint = "{% url 'core-api:station-name-list' %}?mission_id={{ object.id }}";
                    apiService(endpoint, "GET").then(response => {
                      if(response!==undefined){
                          this.opt_stations = response
                      }
                    });
                },
                clear_filters() {
                    this.filter.sample_id = "";
                    this.filter.station = "";
                    this.keys.forEach(k => {
                        this.apply_filter(k);
                    });
                },
                apply_filter(key=null) {
                    if(key==null) {
                        this.keys.forEach(k => {
                            this.apply_filter(k);
                        });
                        return;
                    }

                    this.filtered[key] = this.samples[key];
                    if(key === 'ctd') {
                        // data from the CTD API is formated with a headers field and a "bottles" field
                        // Bottles is the same as samples
                        this.filtered[key] = this.samples[key]['bottles'];
                    }

                    if(this.filtered[key] !== undefined) {
                        // CHL comes in pairs each with an individual chl and phae, but we only care about the mean_chl and
                        // mean_phae so we only have to show the first instance of each pair
                        if (key === 'chl') {
                            this.filtered[key] = this.filtered[key].filter(chl => {
                                return chl.sample_order === 1;
                            });
                        }

                        if (this.filter.sample_id) {
                            this.filtered[key] = this.filtered[key].filter(v => {return v.Sample == this.filter.sample_id;});
                        }

                        if (this.filter.station) {
                            this.filtered[key] = this.filtered[key].filter(v => {return v.Station == this.filter.station;});
                        }
                        this.$forceUpdate();
                    }
                },
                delete_samples(key) {
                    let endpoint = this.endpoints[key]['delete'] + {{ object.id }} + "/?mission_id=" + {{ object.id }};

                    if(this.filter.sample_id) {
                        endpoint += "&sample_id=" + this.filter.sample_id;
                    }

                    if(this.filter.station) {
                        endpoint += "&station=" + this.filter.station;
                    }
                    apiService(endpoint, "DELETE").then(response => {
                        if(key === 'ctd') {
                            this.keys.forEach(key => {
                                this.get_sample(key);
                            });
                        } else {
                            this.get_sample(key);
                        }
                    });
                },
                load_file(event, key) {
                    this.filesToUpload = event.target.files;
                    this.loading[key] = true;

                    this.$forceUpdate();
                    let endpoint = "{% url 'core:ajax_load_samples' object.id %}" + ((key != null) ? "?type=" + key : "");
                    // Send the selected files to the Python side to be loaded
                    filesApiService(endpoint, this.filesToUpload).then(response => {
                        if (response !== undefined) {
                            if (response['errors'] && response['errors'].length > 0) {
                                msg = "Errors\n\n"
                                for (let i = 0; i < response['errors'].length; i++) {
                                    err = response['errors'][i];
                                    msg += err.msg + ": " + err.trace + "\n\n";
                                }
                                alert(msg);
                            }
                        }
                    }).catch(error => {
                        console.log('something went wrong');
                    }).finally(function() {
                        app.get_sample(key);
                    });

                    // this.interval_id = setInterval(this.get_load_status, 2000);
                },
                get_sample(key) {
                    let endpoint = this.endpoints[key]['get'] + "?mission_id=" + {{ object.id }};
                    apiService(endpoint, "GET").then(response => {
                        if(response !== undefined) {
                            this.samples[key] = response;
                            if (key === 'ctd') {
                                this.samples[key] = this.samples[key][0];
                            }
                            this.loading[key] = false;
                            this.apply_filter(key);
                        }
                    });
                },
                update_ctd_directory() {
                    let endpoint = "{% url 'core:set_dir' object.id %}?dir=" + this.ctd_dir + "&type=btl";
                    apiService(endpoint, "POST").then(response => {
                        if(response !== undefined) {
                            this.get_ctd_files();
                        }
                    });
                },
                get_ctd_files() {
                    let endpoint = "{% url 'core:load_files' %}?file_type=btl&mission_id={{ object.id }}";

                    this.loading["ctd_files"] = true;
                    apiService(endpoint, "GET").then(response => {
                        this.loading["ctd_files"] = false;
                        if(response !== undefined) {
                            app.file_dir = response['dir'];
                            if(response['files']) {
                                app.files = response['files'];
                                for(let i=0; i<app.files.length; i++){
                                    app.files[i].loading = false;
                                    app.files[i].bg = "btn-success";
                                    if(!app.files[i].processed) {
                                        app.files[i].bg = "btn-secondary";
                                    }
                                    if(app.files[i].errors) {
                                        app.files[i].bg = "btn-warning";
                                    }
                                }
                            }
                        }
                    });
                },
                load_ctd_file(index) {
                    if(index == null) {
                        // process all files
                        for(let i=0; i<this.files.length; i++) {
                            this.load_ctd_file(i);
                        }
                        // reprocess files with errors in case there are dependency errors
                        this.load_ctd_file(-2);
                        return;
                    } else if(index === -1) {
                        // process only unprocessed files
                        let filted_files = this.files.filter(function(f) {
                            return !f.processed;
                        });
                        for(let i=0; i<filted_files.length; i++) {
                            this.load_ctd_file(this.files.indexOf(filted_files[i]))
                        }
                        // reprocess files with errors in case there are dependency errors
                        this.load_ctd_file(-2);
                        return;
                    } else if(index === -2) {
                        // reprocess files that have/had errors
                        let filted_files = this.files.filter(function(f) {
                            return f.errors;
                        });
                        for(let i=0; i<filted_files.length; i++) {
                            this.load_ctd_file(this.files.indexOf(filted_files[i]))
                        }
                        return;
                    }

                    // For now I'm using the client to queue up files to load and limiting how many can be sent to the server
                    // Once I've worked out server side threading I'll do this on the server.
                    // processing 2 files at a time works well for Bottles
                    if(this.processing.length >= 1){
                        this.to_process.push(index);
                        app.files[index].bg = 'btn-light';
                        this.$forceUpdate();
                        return;
                    }

                    this.processing.push(index);

                    let endpoint = "{% url 'core:process_ctd' object.id %}?mission_id={{ object.id }}";
                    app.files[index].loading = true;

                    endpoint = endpoint + "&fid=" + app.files[index].fid;

                    this.$forceUpdate();
                    apiService(endpoint, "POST").then(response => {
                        app.files[index].loading = false;
                        this.$forceUpdate();
                        let msg = "";
                        if(response!==undefined) {
                            if(response['errors'] && response['errors'].length > 0) {
                                app.files[index].bg = "btn-warning";
                                msg = "Errors\n\n"
                                for(let i=0; i<response['errors'].length; i++) {
                                    err = response['errors'][i];
                                    msg += err.msg + ": " + err.trace + "\n\n";
                                }
                                app.files[index].processed = true;
                                app.files[index].errors = true;
                            } else {
                                app.files[index].bg = "btn-success";
                                app.files[index].processed = true;
                                app.files[index].errors = false;
                            }
                            this.get_sample('ctd');
                        } else {
                            app.files[index].bg = "btn-danger";
                        }

                        this.processing.shift();

                        if(this.to_process.length > 0) {
                            let next = this.to_process.shift();
                            this.load_ctd_file(next);
                        }

                        if(msg !== "") {
                           console.log(msg);
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}