{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load bootstrap5 %}
{% load i18n %}

{% block nav_button_block %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:sample_type_details' %}" title="{% trans "Edit Global Sample Types" %}">{% custom_icon 'speedometer2' %}</a>
        <a class="btn btn-primary" href="{% url 'settingsdb:station_plan_details' %}" title="{% trans "Edit Stations and Plans" %}">{% custom_icon 'pin-angle' %}</a>
    </li>
{% endblock %}

{% block title %}
    {{ block.super }}
    {% if new_url %}
        <span class="col-1"><a class="btn btn-primary" href="{{ new_url }}" title="{% trans 'New Mission' %}">{% custom_icon 'plus-square' %}</a></span>
    {% endif %}
{% endblock %}

{% block content %}
<div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <form id="form_id_station_plan">
    {% if station_form %}
        {% crispy station_form %}
    {% endif %}
    </form>
</div>
{% endblock %}
