<table class="table table-striped table-hover table-sm sortable">
    <thead>
    <tr>
        <th>Bottle ID</th>
        <th>Pressure</th>
        <th>Sample</th>
        <th>Carbon(ug/l)</th>
        <th>Nitrogen(ug/l)</th>
        <th>Carbon/Nitrogen</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="sample in filtered.chn">
        <td>${ sample.Sample }</td>
        <td>${ sample.Pressure }</td>
        <td>${ sample.sample_order }</td>
        <td>${ sample.carbon }</td>
        <td>${ sample.nitrogen }</td>
        <td>${ sample.carbon_nitrogen }</td>
    </tr>
    </tbody>
</table>
